/* line 4, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success {
  position: relative;
  width: 990px;
  margin: 0 auto;
}
/* line 9, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success .breadcrumbs {
  margin: -8px 0 0 0;
}
/* line 12, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 40px;
  margin: 11px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 20, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success .order_info {
  padding: 0 0 33px 0;
}
/* line 23, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success .order_info p {
  font-family: "pfdintextpro-regular";
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin: 8px 0 8px 0;
}
/* line 30, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success .order_info .h2 {
  font-family: "plumb-bold";
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 40px 0 24px 0;
}
/* line 38, ../sass/css_/cart_success.scss */
.cart_success_page .cart_success .order_info a {
  color: #e10a00;
}

@media screen and (max-width: 640px) {
  /* line 58, ../sass/css_/cart_success.scss */
  .mobile_enabled .cart_success_page .cart_success {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
}
