/* line 7, ../sass/css_/catalog.scss */
.section_list_page {
  text-align: center;
}
/* line 9, ../sass/css_/catalog.scss */
.section_list_page .wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 990px;
  text-align: left;
  margin: 10px 0 100px;
}
/* line 15, ../sass/css_/catalog.scss */
.section_list_page h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 30px;
  margin: 11px 0 20px 0;
  max-width: 470px;
}
/* line 23, ../sass/css_/catalog.scss */
.section_list_page .section {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 214px;
  height: 244px;
  padding: 0;
  font-family: "pfdintextpro-regular";
  color: #000;
  margin: 13px 14px 33px 14px;
  position: relative;
  top: 0;
  border: 1px solid #fff;
  overflow: hidden;
}
/* line 37, ../sass/css_/catalog.scss */
.section_list_page .section a {
  text-decoration: none;
}
/* line 41, ../sass/css_/catalog.scss */
.section_list_page .section .name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 25px;
  display: block;
  border-bottom: 1px solid #b3b3b3;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 8px;
  margin: 0 0 8px 0;
  color: #000;
  position: relative;
  z-index: 5;
  background-color: #fff;
  top: 0;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 62, ../sass/css_/catalog.scss */
.section_list_page .section .image {
  margin: 0 -25px 0 -25px;
  background-color: #fff;
  opacity: 1;
  text-align: center;
  height: 200px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 71, ../sass/css_/catalog.scss */
.section_list_page .section .image img {
  max-width: 100%;
}

/* line 81, ../sass/css_/catalog.scss */
.no-touch .product .product_description,
.no-touch .product .product_brand {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 87, ../sass/css_/catalog.scss */
.no-touch .product:hover .product_description,
.no-touch .product:hover .product_brand {
  color: #e73b33 !important;
  border-top-color: #e73b33 !important;
}
/* line 96, ../sass/css_/catalog.scss */
.no-touch .catalog_page .catalog_block .catalog_menu ul li:hover > a:after {
  width: 100%;
}
/* line 100, ../sass/css_/catalog.scss */
.no-touch .section_list_page .section:hover {
  border-color: #e73b33;
}
/* line 103, ../sass/css_/catalog.scss */
.no-touch .section_list_page .section:hover .name {
  background-color: #e73b33;
  color: #fff;
  border-bottom-color: #fff;
}
/* line 109, ../sass/css_/catalog.scss */
.no-touch .section_list_page .section:hover .image {
  background: #fff;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 117, ../sass/css_/catalog.scss */
.catalog_page .catalog_block {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
/* line 123, ../sass/css_/catalog.scss */
.catalog_page .catalog_block [id^="bx_incl_area"] {
  display: inline-block;
}
/* line 127, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 330px;
}
/* line 133, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li {
  padding: 0 0 0 15px;
  margin: 0 0 13px 0;
}
/* line 134, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 11px;
  background: url('/../../../img/catalog_menu_arrow_right.png?1428585798') 0 0 no-repeat;
  margin-right: 10px;
}
/* line 145, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li a {
  font-family: "pfdintextpro-regular";
  color: #2a2a2a;
  font-size: 16px;
  position: relative;
}
/* line 151, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li a:after {
  background: url('/../../../img/catalog_menu_bottom.png?1428585798') left bottom no-repeat;
  height: 1px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}
/* line 163, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active:before {
  background: url('/../../../img/catalog_menu_arrow_bottom.png?1428585798') 0 7px no-repeat;
  width: 10px;
  height: 14px;
  margin: -3px 7px 0 -2px;
}
/* line 170, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active > a {
  font-family: "pfdintextpro-bold";
  cursor: default;
}
/* line 174, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active > a:after {
  width: 0;
}
/* line 178, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active ul {
  font-family: "pfdintextpro-regular";
  height: auto;
}
/* line 183, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active ul > li:before {
  content: none;
}
/* line 186, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li.active ul > li a {
  cursor: pointer !important;
  font-family: "pfdintextpro-regular";
}
/* line 193, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul {
  height: 0;
  overflow: hidden;
}
/* line 197, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li {
  margin: 8px 0 9px 0;
  background: none;
}
/* line 201, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li a {
  font-family: "pfdintextpro-regular";
  font-size: 14px;
  color: #2a2a2a;
  position: relative;
}
/* line 207, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li a:after {
  background: url('/../../../img/catalog_menu_bottom.png?1428585798') left bottom no-repeat;
  height: 1px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}
/* line 220, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li:hover > a:after {
  width: 100%;
}
/* line 225, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li.active {
  background: url('/../../../img/catalog_menu_minus.png?1428585798') 0 7px no-repeat;
}
/* line 228, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li.active > a {
  font-family: "pfdintextpro-bold";
  cursor: default;
}
/* line 232, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog_menu ul li ul > li.active > a:after {
  width: 0;
}
/* line 242, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 660px;
}
/* line 246, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog h1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 30px;
  margin: 30px 0 0 0;
  max-width: 470px;
}
/* line 254, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .additionals {
  font-family: "plumb-regular";
  font-size: 14px;
  margin: 20px 0 0 0;
  color: #a2a2a2;
}
/* line 260, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .additionals a {
  display: inline-block;
  margin: 0 5px;
  color: #a2a2a2;
}
/* line 264, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .additionals a:first-child {
  margin-left: 0;
}
/* line 267, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .additionals a:hover {
  color: #ec4b16;
}
/* line 272, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block {
  background: #e9e9e9;
  widows: 100%;
  margin: 23px 0 0 0;
}
/* line 277, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top {
  padding: 23px 0 18px 30px;
  width: 630px;
}
/* line 281, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .sort_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 2px 0 0 0;
}
/* line 286, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .sort_block .sort_block_title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-family: "plumb-medium";
  color: #939393;
  font-size: 11px;
  text-transform: uppercase;
  width: 96px;
}
/* line 295, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .sort_block .sort_block_list {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 121px;
  height: 20px;
}
/* line 301, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .sort_block .sort_block_list .ui-selectmenu-button {
  background: none;
  margin: 0 0 0 -9px;
  width: auto !important;
  position: relative;
  top: -8px;
}
/* line 308, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .sort_block .sort_block_list .ui-selectmenu-button .ui-icon {
  margin: -8px -10px 0 0;
}
/* line 314, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: right;
  width: 218px;
}
/* line 320, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 324, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group a {
  display: block;
  width: 14px;
  height: 15px;
  background: url('/../../../img/catalog_block_group.png?1428585798') center center no-repeat;
}
/* line 331, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group.active a {
  background: url('/../../../img/catalog_block_group_active.png?1428585798') center center no-repeat;
}
/* line 335, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group:hover {
  background: url('/../../../img/catalog_block_group_active.png?1428585798') center center no-repeat;
}
/* line 339, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 0 0 7px;
}
/* line 344, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group a {
  display: block;
  width: 16px;
  height: 15px;
  background: url('/../../../img/catalog_col_group.png?1428585798') center center no-repeat;
}
/* line 351, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group.active a {
  background: url('/../../../img/catalog_col_group_active.png?1428585798') center center no-repeat;
}
/* line 355, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group:hover {
  background: url('/../../../img/catalog_col_group_active.png?1428585798') center center no-repeat;
}
/* line 360, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .product_count {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: right;
  margin: 2px 0 0 0;
}
/* line 366, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .product_count .product_count_title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-family: "plumb-medium";
  color: #939393;
  font-size: 11px;
  text-transform: uppercase;
  width: 80px;
  margin: 0 16px 0 27px;
}
/* line 376, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .product_count .product_count_list {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: -8px 0 0 0;
}
/* line 381, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_top .product_count .product_count_list .ui-selectmenu-button {
  width: 42px !important;
}
/* line 387, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_middle {
  background: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 11px;
  font-family: "plumb-bold";
  cursor: pointer;
}
/* line 399, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom {
  padding: 24px 0 0 0;
  display: none;
}
/* line 403, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom input {
  border: none;
  background: #ffffff;
  font-family: "plumb-bold";
  font-size: 11px;
  line-height: 11px;
  color: #202020;
  text-transform: uppercase;
  display: block;
  padding: 8px 9px 7px 9px;
  width: 62px;
}
/* line 415, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_title {
  font-family: "plumb-bold";
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}
/* line 423, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 {
  margin: 0 0 0 30px;
}
/* line 426, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 390px;
  margin: 0 20px 20px 0;
}
/* line 432, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 input {
  width: 80px;
}
/* line 435, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 .range_col1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 439, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 .range_col2 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 9px 0 9px;
}
/* line 444, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 .range_col2 .cost_range {
  margin: 13px 0 0 0;
  width: 174px;
}
/* line 449, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 .range_col3 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 454, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col2 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 20px 20px 0;
}
/* line 460, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line2 {
  margin: 15px 0 0 30px;
}
/* line 463, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line2 .filter_block_bottom_col1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 467, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line2 .filter_block_bottom_col2 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 0 0 30px;
}
/* line 472, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line2 .filter_block_bottom_col3 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 0 0 30px;
}
/* line 478, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .search {
  background: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 11px;
  font-family: "plumb-bold";
  cursor: pointer;
  padding: 0;
  margin: 15px 0 0 0;
}
/* line 494, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block.full .filter_block_middle {
  background: #bfbfbf;
}
/* line 497, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .filter_block.full .filter_block_bottom {
  display: block;
}
/* line 504, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide {
  width: 990px;
}
/* line 509, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .filter_block .filter_block_top {
  width: 990px;
}
/* line 512, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .filter_block .filter_block_top .group_block {
  width: 540px;
}
/* line 519, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block .product {
  margin: 30px 80px 50px 0;
}
/* line 521, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block .product.even {
  margin: 30px 80px 50px 0;
}
/* line 524, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block .product.third {
  margin: 30px 0 50px 0;
}
/* line 530, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block.block .product {
  margin: 20px 35px 30px 0;
}
/* line 532, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block.block .product.four, .catalog_page .catalog_block .catalog.wide .products_block.block .product.even, .catalog_page .catalog_block .catalog.wide .products_block.block .product.third {
  margin: 20px 35px 30px 0;
}
/* line 537, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog.wide .products_block.block .product.six {
  margin: 20px 0 30px 0;
}
/* line 546, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 272px;
  margin: 56px 0 2px 0;
  position: relative;
}
/* line 553, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product.even {
  margin: 56px 0 2px 116px;
}
/* line 556, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .image-holder {
  position: relative;
  top: 0;
}
/* line 560, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_new {
  position: absolute;
  top: 4px;
  z-index: 10;
  right: 0;
  float: right;
  text-transform: uppercase;
  color: #f9a411;
  font-size: 12px;
  line-height: 12x;
  height: 12px;
  text-align: center;
  vertical-align: middle;
  font-family: "pfdintextpro-bold";
  border: 2px solid #f9a411;
  margin: 0 2px 0 0;
  padding: 2px 2px 0 2px;
}
/* line 578, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_brand {
  font-family: "pfdintextpro-medium";
  font-size: 30px;
  text-transform: uppercase;
}
/* line 583, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_brand a {
  color: #000000;
}
/* line 587, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_name {
  font-family: "pfdintextpro-medium";
  font-size: 16px;
  text-transform: uppercase;
  height: auto;
  word-wrap: break-word;
}
/* line 594, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_name a {
  color: #000000;
}
/* line 598, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_description {
  border-top: 1px solid #676767;
  font-family: "pfdintextpro-regular";
  font-size: 16px;
  padding: 16px 0 0 0;
  overflow: hidden;
}
/* line 606, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_assessment_block {
  margin: 12px 0;
  height: 14px;
  width: 85px;
  background: url('/../../../img/asterix.png?1428585798') left center repeat-x;
  cursor: pointer;
  overflow: hidden;
}
/* line 614, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_assessment_block .product_assessment {
  height: 14px;
  background: url('/../../../img/asterix_active.png?1428585798') left center repeat-x;
  cursor: pointer;
}
/* line 619, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_assessment_block.mini {
  width: 45px;
  height: 7px;
  position: absolute;
  z-index: 3;
  display: none;
  bottom: 18px;
  background: url('/../../../img/asterix_mini.png?1428585798') left center repeat-x;
}
/* line 628, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_assessment_block.mini .product_assessment {
  height: 7px;
  background: url('/../../../img/asterix_mini_active.png?1428585798') left center repeat-x;
}
/* line 634, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image {
  width: 100%;
  height: 160px;
  position: relative;
  margin: 14px 0 18px 0;
  text-align: center;
}
/* line 641, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image img {
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  display: block;
  max-height: 250px;
}
/* line 649, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image img.product_image_original {
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 653, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image img.product_image_hover {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 660, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image:hover img.product_image_original {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 663, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_image:hover img.product_image_hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 669, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block {
  position: relative;
  z-index: 10;
  height: 54px;
  background: url('/../../../img/price_border.png?1428585798') center bottom repeat-x;
}
/* line 675, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .not_in_stock {
  font-family: "pfdintextpro-regular";
  font-size: 14px;
  color: #666;
}
/* line 681, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_old_price {
  font-family: "plumb-regular";
  font-size: 20px;
  height: 20px;
  color: #e6330a;
  margin: 12px 0 0 0;
  position: relative;
  top: 0;
  display: inline-block;
  width: auto;
}
/* line 693, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_old_price:after {
  content: '';
  border-bottom: 1px solid #e6330a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
/* line 703, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_old_price .rub:before {
  font-family: "pt_sans-regular";
  font-size: 14px;
  line-height: 16px;
  vertical-align: baseline;
  top: -4px;
  position: relative;
}
/* line 713, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_price {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: baseline;
  font-family: "plumb-bold";
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  letter-spacing: -1px;
  white-space: nowrap;
}
/* line 723, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_price .product_price_value {
  background: #ffffff;
  padding: 0 6px 0 0;
}
/* line 727, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_price .rub:before {
  font-family: "pt_sans-bold";
  font-size: 30px;
  line-height: 40px;
  vertical-align: baseline;
  top: -7px;
  position: relative;
}
/* line 736, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_cart {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 52px;
  cursor: pointer;
  padding: 0 0 0 2px;
  z-index: 2;
  background: url('/../../../img/cart.png?1428585798') right center no-repeat;
}
/* line 748, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_cart:hover {
  background: url('/../../../img/cart_hover.png?1428585798') right center no-repeat;
}
/* line 756, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product {
  width: 135px;
  margin: 28px 40px 0 0;
}
/* line 760, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product.four {
  margin: 28px 0 0 0;
}
/* line 763, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_new {
  font-size: 10px;
  height: auto;
  position: absolute;
  top: 4px;
  right: 0;
  background: #fff;
  z-index: 10;
}
/* line 772, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_brand {
  font-size: 20px;
}
/* line 775, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_name {
  display: none;
}
/* line 778, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_description {
  font-size: 14px;
  padding: 7px 0 0 0;
  color: #676767;
}
/* line 783, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_assessment_block {
  display: none;
  /*
  &.mini{
  	display:block;	
  }
  */
}
/* line 791, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .image-holder {
  position: relative;
  top: 0;
}
/* line 795, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_image {
  width: 135px;
  margin: 0 0 3px 0;
}
/* line 798, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_image img {
  max-width: 100%;
}
/* line 802, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_prices_block {
  height: 22px;
}
/* line 805, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_prices_block .product_old_price {
  display: none;
}
/* line 809, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_prices_block .product_price_block {
  margin-top: -3px;
}
/* line 811, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_prices_block .product_price_block .product_price {
  margin-top: -3px;
  font-size: 25px;
  line-height: 25px;
}
/* line 817, ../sass/css_/catalog.scss */
.catalog_page .catalog_block .catalog .products_block.block .product .product_prices_block .product_price_block .product_price .rub:before {
  font-size: 20px;
  line-height: 25px;
  top: -4px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 845, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog_menu ul li {
    -moz-background-size: 5px 11px;
    -o-background-size: 5px 11px;
    -webkit-background-size: 5px 11px;
    background-size: 5px 11px;
  }
  /* line 850, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog_menu ul li a:after {
    background: url('/../../../img/catalog_menu_bottom@2x.png?1428585797') left bottom no-repeat;
    -moz-background-size: 320px 1px;
    -o-background-size: 320px 1px;
    -webkit-background-size: 320px 1px;
    background-size: 320px 1px;
  }
  /* line 855, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog_menu ul li.active {
    -moz-background-size: 10px 5px;
    -o-background-size: 10px 5px;
    -webkit-background-size: 10px 5px;
    background-size: 10px 5px;
  }
  /* line 862, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog_menu ul li ul li a:after {
    -moz-background-size: 320px 1px;
    -o-background-size: 320px 1px;
    -webkit-background-size: 320px 1px;
    background-size: 320px 1px;
  }
  /* line 867, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog_menu ul li ul li.active {
    -moz-background-size: 8px 2px;
    -o-background-size: 8px 2px;
    -webkit-background-size: 8px 2px;
    background-size: 8px 2px;
  }
  /* line 877, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog h1 {
    font-size: 25px;
  }
  /* line 884, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group a {
    background: url('/../../../img/catalog_block_group@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 14px 15px;
    -o-background-size: 14px 15px;
    -webkit-background-size: 14px 15px;
    background-size: 14px 15px;
  }
  /* line 889, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group.active a {
    background: url('/../../../img/catalog_block_group_active@2x.png?1428585797') center center no-repeat;
    -moz-background-size: 14px 15px;
    -o-background-size: 14px 15px;
    -webkit-background-size: 14px 15px;
    background-size: 14px 15px;
  }
  /* line 894, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .block_group:hover {
    background: url('/../../../img/catalog_block_group_active@2x.png?1428585797') center center no-repeat;
    -moz-background-size: 14px 15px;
    -o-background-size: 14px 15px;
    -webkit-background-size: 14px 15px;
    background-size: 14px 15px;
  }
  /* line 900, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group a {
    background: url('/../../../img/catalog_col_group@2x.png?1428585797') center center no-repeat;
    -moz-background-size: 16px 15px;
    -o-background-size: 16px 15px;
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
  }
  /* line 905, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group.active a {
    background: url('/../../../img/catalog_col_group_active@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 16px 15px;
    -o-background-size: 16px 15px;
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
  }
  /* line 910, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .filter_block .filter_block_top .group_block .col_group:hover {
    background: url('/../../../img/catalog_col_group_active@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 16px 15px;
    -o-background-size: 16px 15px;
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
  }
  /* line 920, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_assessment_block {
    background: url('/../../../img/asterix@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 17px 14px;
    -o-background-size: 17px 14px;
    -webkit-background-size: 17px 14px;
    background-size: 17px 14px;
  }
  /* line 924, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_assessment_block .product_assessment {
    background: url('/../../../img/asterix_active@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 17px 14px;
    -o-background-size: 17px 14px;
    -webkit-background-size: 17px 14px;
    background-size: 17px 14px;
  }
  /* line 928, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_assessment_block.mini {
    background: url('/../../../img/asterix_mini@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 9px 7px;
    -o-background-size: 9px 7px;
    -webkit-background-size: 9px 7px;
    background-size: 9px 7px;
  }
  /* line 932, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_assessment_block.mini .product_assessment {
    background: url('/../../../img/asterix_mini_active@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 9px 7px;
    -o-background-size: 9px 7px;
    -webkit-background-size: 9px 7px;
    background-size: 9px 7px;
  }
  /* line 938, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_prices_block {
    background: url('/../../../img/price_border@2x.png?1428585798') center bottom repeat-x;
    -moz-background-size: 4px 1px;
    -o-background-size: 4px 1px;
    -webkit-background-size: 4px 1px;
    background-size: 4px 1px;
  }
  /* line 943, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_cart {
    background: url('/../../../img/cart@2x.png?1428585797') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
  /* line 947, ../sass/css_/catalog.scss */
  .catalog_page .catalog_block .catalog .products_block .product .product_prices_block .product_price_block .product_cart:hover {
    background: url('/../../../img/cart_hover@2x.png?1428585798') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
}
/*
@media screen and (min-width: 1400px){
	.maket .breadcrumbs.catalog{
		left: 154px !important;
		max-width: 580px !important;
	}
	.catalog_page{
		.catalog_block{
			width: 1350px;
			.catalog{
				width: 990px;

				&.wide{
					width: 1350px;
					.products_block{

						.product{
							margin: 56px 70px 2px 0;
							&.third,
							&.third,
							&.even{
								margin: 56px 70px 2px 0;
							}
							&.four{
								margin-right: 0;
							}
						}

						&.block{
							.product{
								margin: 20px 30px 20px 0;
								&.even,
								&.third,
								&.four,
								&.even,
								&.six{
									margin: 20px 30px 20px 0;
								}
								&.eight{
									margin-right: 0;
								}
							}
						}
					}
					.filter_block{
						.filter_block_top{
							width: 1350px;
							.group_block{
								width: 910px;
							}
						}
					}
				}
				.filter_block{
					.filter_block_top{
						width: 960px;
						.group_block{
							width: 558px;
						}
					}
				}
				.products_block{
					&.block{
						.product{
							margin: 20px 30px 20px 0;
							&.even,
							&.third,
							&.four,
							&.even{
								margin: 20px 30px 20px 0;
							}
							&.six{
								margin-right: 0;
							}
						}
					}
					.product{
						margin: 56px 70px 2px 0;
						&.third,
						&.four,
						&.even{
							margin: 56px 70px 2px 0;
						}
						&.third{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
*/
@media screen and (max-width: 400px) {
  /* line 1056, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .products_block div.product {
    display: block;
    margin: 40px auto 60px auto !important;
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  /* line 1066, ../sass/css_/catalog.scss */
  .mobile_enabled .section_list_page {
    width: 100%;
  }
  /* line 1068, ../sass/css_/catalog.scss */
  .mobile_enabled .section_list_page .wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  /* line 1072, ../sass/css_/catalog.scss */
  .mobile_enabled .section_list_page .wrapper .section {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1080, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page {
    box-sizing: border-box;
    padding: 20px;
  }
  /* line 1084, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog-button {
    cursor: pointer;
    font-family: pfdintextpro-regular;
    text-align: center;
    border: 2px solid #000;
    width: 100%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 7px;
    margin: 20px 0 30px 0;
    font-size: 21px;
  }
  /* line 1098, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block {
    width: 100%;
    position: relative;
    top: 0;
  }
  /* line 1102, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog {
    width: 100%;
  }
  /* line 1103, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog.wide {
    width: 100%;
  }
  /* line 1107, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .products_block {
    text-align: center;
  }
  /* line 1109, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .products_block .product {
    text-align: left;
    display: inline-block;
    margin: 20px 20px 20px 0 !important;
  }
  /* line 1116, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_top {
    display: none;
  }
  /* line 1119, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_middle {
    padding: 5px 0;
    border-radius: 6px;
  }
  /* line 1123, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_bottom {
    padding: 20px;
  }
  /* line 1125, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 {
    margin-left: 0;
  }
  /* line 1127, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .filter_block_bottom_line1 .filter_block_bottom_col1 .range_col2 .cost_range {
    width: 60px;
  }
  /* line 1131, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog .filter_block .filter_block_bottom .search {
    padding: 5px 0;
    border-radius: 5px;
  }
  /* line 1140, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu {
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    width: auto;
    z-index: 20;
    display: none;
    background-color: #c9c9c9;
    padding: 20px 20px 0 20px;
    border-top: 2px solid #000;
    box-sizing: border-box;
  }
  /* line 1153, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu.visible {
    display: block;
  }
  /* line 1157, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu .close {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 40px;
  }
  /* line 1166, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li.active,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li {
    padding-left: 0;
  }
  /* line 1168, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li.active:before,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li:before {
    content: none;
  }
  /* line 1174, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li.active a,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li a {
    font-size: 22px;
    border-bottom: 1px solid #999;
    padding: 10px 20px 15px 20px;
    margin: 0 -20px;
    width: 100%;
    display: block;
  }
  /* line 1175, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li.active a:after,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li a:after {
    content: none;
  }
  /* line 1185, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li.active:last-child a,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-0 li:last-child a {
    border-bottom: none;
  }
  /* line 1190, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 {
    background-color: #dfdfdf;
    margin: 0 -20px;
    padding: 10px 0;
  }
  /* line 1195, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li.active,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li {
    padding-left: 0;
  }
  /* line 1197, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li.active:before,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li:before {
    content: none;
  }
  /* line 1201, ../sass/css_/catalog.scss */
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li.active a,
  .mobile_enabled .catalog_page .catalog_block .catalog_menu ul.depth-1 li a {
    font-size: 20px !important;
    width: 100% !important;
    display: block !important;
    background-color: #dfdfdf !important;
    margin: 0 -20px !important;
    padding: 12px 20px 12px 50px !important;
    border-bottom: 0 !important;
  }
}
