/* line 4, ../sass/css_/checkout.scss */
.checkout_page .checkout {
  position: relative;
  width: 990px;
  margin: 0 auto;
}
/* line 9, ../sass/css_/checkout.scss */
.checkout_page .checkout .breadcrumbs {
  margin: -8px 0 0 0;
}
/* line 12, ../sass/css_/checkout.scss */
.checkout_page .checkout h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 40px;
  margin: 11px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 20, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list {
  margin: 20px 0 -20px 0;
}
/* line 23, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row {
  padding: 20px 0;
  border-top: 1px solid #dfdfdf;
}
/* line 27, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row.title {
  padding: 20px 0 10px 0;
  border-top: none;
}
/* line 31, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row.title.comment {
  padding: 67px 0 10px 0;
}
/* line 35, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row.total_price {
  padding: 30px 0 40px 0;
}
/* line 38, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 42, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col h4 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 16px;
}
/* line 47, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.person_types_block {
  width: 100%;
  height: 50px;
}
/* line 51, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.person_types_block .person_type_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 30px 0 0;
}
/* line 57, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.buyer_info_block {
  padding: 0 0 22px 0;
}
/* line 60, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.buyer_info_block .row {
  border: none;
  padding: 6px 0 17px 0;
}
/* line 64, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.buyer_info_block .row .col {
  width: 356px;
}
/* line 67, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.buyer_info_block .row .col label {
  display: block;
  margin: 0 0 7px 0;
}
/* line 71, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.buyer_info_block .row .col input {
  padding: 14px;
  width: 300px;
}
/* line 78, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.delivery_block {
  margin: 6px 0 0 0;
  padding: 0 0 14px 0;
}
/* line 82, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.pay_block {
  margin: 6px 0 0 0;
  padding: 0 0 14px 0;
}
/* line 87, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.comment_block textarea {
  height: 95px;
  margin: 4px 0 6px;
  padding: 14px;
  width: 960px;
  resize: none;
}
/* line 95, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .zoom {
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  width: 50px;
  hegiht: 50px;
}
/* line 102, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .zoom img {
  width: 50px;
  hegiht: 50px;
}
/* line 107, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .product_name {
  font-family: "plumb-bold";
  color: #e10a00;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}
/* line 115, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .product_name:after {
  background: url('/../../../img/sub_menu_bottom.png?1428585798') center bottom no-repeat;
  height: 2px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
}
/* line 126, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .product_name:hover:after {
  width: 100%;
}
/* line 131, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .product_price {
  font-family: "plumb-bold";
  color: #000000;
  font-size: 20px;
  line-height: 50px;
}
/* line 138, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .product_price .rub:before {
  font-size: 16px;
  font-family: "pt_sans-bold";
  line-height: 50px;
  position: relative;
  top: -3px;
}
/* line 147, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col .next {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: bottom;
  font-family: "pfdintextpro-medium";
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 193px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5Yjc0ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdhYWI0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89b74e), color-stop(100%, #7aab4c));
  background-image: -moz-linear-gradient(#89b74e, #7aab4c);
  background-image: -webkit-linear-gradient(#89b74e, #7aab4c);
  background-image: linear-gradient(#89b74e, #7aab4c);
}
/* line 162, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.product_name_block {
  width: 640px;
}
/* line 165, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.one_price_block {
  width: 120px;
  text-align: right;
}
/* line 169, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.count_selector_block {
  font-family: "plumb-bold";
  color: #000000;
  font-size: 20px;
  line-height: 50px;
  width: 77px;
  text-align: right;
}
/* line 177, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.all_price_block {
  width: 153px;
  text-align: right;
}
/* line 181, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.total_price_block {
  text-align: right;
  width: 760px;
}
/* line 185, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.total_price_block .delivery_price {
  font-family: "plumb-bold";
  color: #000000;
  font-size: 11px;
  line-height: 13px;
  height: 13px;
  margin: 0 16px 0 0;
  text-transform: uppercase;
  vertical-align: bottom;
}
/* line 196, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.total_price_block .delivery_price .rub:before {
  font-size: 11px;
  font-family: "pt_sans-bold";
  line-height: 13px;
  position: relative;
  top: 0;
}
/* line 205, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.total_price_block .product_price {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  vertical-align: top;
}
/* line 212, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.total_price_block .product_price .rub:before {
  font-size: 26px;
  font-family: "pt_sans-bold";
  line-height: 40px;
  position: relative;
  top: -10px;
}
/* line 222, ../sass/css_/checkout.scss */
.checkout_page .checkout .checkout_list .row .col.next_block {
  text-align: right;
  width: 230px;
}

/* line 232, ../sass/css_/checkout.scss */
.bx_order_make .bx_result_price {
  margin-left: 20px;
  margin-bottom: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 250, ../sass/css_/checkout.scss */
  .checkout_page .checkout .checkout_list .row .col .product_name:after {
    background: url('/../../../img/sub_menu_bottom@2x.png?1428585798') center bottom no-repeat;
    -moz-background-size: 640px 2px;
    -o-background-size: 640px 2px;
    -webkit-background-size: 640px 2px;
    background-size: 640px 2px;
  }
}
