/* line 3, ../sass/css_/complaint.scss */
.complaint {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #282828;
  display: none;
}
/* line 15, ../sass/css_/complaint.scss */
.complaint .title {
  color: #dbdbdb;
  font-family: "pfdintextpro-light";
  font-size: 20px;
  left: 145px;
  position: absolute;
  top: 45px;
}
/* line 23, ../sass/css_/complaint.scss */
.complaint .close {
  position: absolute;
  top: 45px;
  right: 45px;
  background: url('/../../../img/close.png?1428585798') center center no-repeat;
  width: 14px;
  height: 15px;
  cursor: pointer;
}
/* line 32, ../sass/css_/complaint.scss */
.complaint .points {
  position: absolute;
  right: 45px;
  top: 50%;
  width: 15px;
  margin: -50px 0 0 0;
}
/* line 39, ../sass/css_/complaint.scss */
.complaint .points ul {
  width: 15px;
}
/* line 42, ../sass/css_/complaint.scss */
.complaint .points ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #c5c5c5;
  margin: 5px 0;
}
/* line 51, ../sass/css_/complaint.scss */
.complaint .points ul li.active {
  background: #131313;
}
/* line 57, ../sass/css_/complaint.scss */
.complaint .button_block {
  position: absolute;
  right: 45px;
  bottom: 45px;
}
/* line 62, ../sass/css_/complaint.scss */
.complaint .button_block .next {
  background: #131313;
  color: #dbdbdb;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "pfdintextpro-medium";
  padding: 13px 19px;
  cursor: pointer;
}
/* line 75, ../sass/css_/complaint.scss */
.complaint .button_block .notis {
  color: #dbdbdb;
  font-size: 15px;
  font-family: "pfdintextpro-light";
  text-align: center;
  margin: 5px 0 0 0;
}
/* line 83, ../sass/css_/complaint.scss */
.complaint .steps {
  position: absolute;
  left: 145px;
  right: 145px;
  top: 50%;
  margin: -100px 0 0 0;
}
/* line 90, ../sass/css_/complaint.scss */
.complaint .steps label {
  color: #dbdbdb;
  font-size: 30px;
  line-height: 30px;
  font-family: "pfdintextpro-medium";
  display: block;
  margin: 0 0 30px 0;
  width: 100%;
  position: relative;
}
/* line 100, ../sass/css_/complaint.scss */
.complaint .steps input {
  color: #dbdbdb;
  font-size: 40px;
  line-height: 45px;
  font-family: "pfdintextpro-regular";
  display: block;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #131313;
  left: 0;
  right: 0;
  position: relative;
  width: 550px;
}
/* line 116, ../sass/css_/complaint.scss */
.complaint .steps textarea {
  color: #dbdbdb;
  font-size: 40px;
  line-height: 45px;
  font-family: "pfdintextpro-regular";
  display: block;
  outline: none;
  background: none;
  border: 1px solid #131313;
  resize: none;
  padding: 40px;
  left: 0;
  right: 120px;
  height: 200px;
  position: relative;
  width: 550px;
}
/* line 133, ../sass/css_/complaint.scss */
.complaint .steps .step {
  display: none;
  position: relative;
}
/* line 137, ../sass/css_/complaint.scss */
.complaint .steps .step.active {
  display: block;
}
/* line 140, ../sass/css_/complaint.scss */
.complaint .steps .step .result {
  color: #dbdbdb;
  font-size: 60px;
  line-height: 30px;
  font-family: "pfdintextpro-regular";
  display: none;
}
/* line 147, ../sass/css_/complaint.scss */
.complaint .steps .step .result span {
  font-size: 30px;
  line-height: 30px;
}
/* line 151, ../sass/css_/complaint.scss */
.complaint .steps .step .result.active {
  display: block;
}
/* line 155, ../sass/css_/complaint.scss */
.complaint .steps .step .notis {
  position: absolute;
  margin: -50px 0 0 0;
  color: #e6330a;
  font-size: 15px;
  line-height: 15px;
  font-family: "pfdintextpro-medium";
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 176, ../sass/css_/complaint.scss */
  .complaint .close {
    background: url('/../../../img/close@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 14px 15px;
    -o-background-size: 14px 15px;
    -webkit-background-size: 14px 15px;
    background-size: 14px 15px;
  }
}
