/* line 2, ../sass/css_/header.scss */
.phone-menu {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 94%;
  background-color: #000;
  z-index: 95;
  padding: 15px 3% 70px 3%;
  color: #fff;
  font-family: plumb-regular;
  text-transform: uppercase;
  overflow: auto;
  display: none;
}

/* line 17, ../sass/css_/header.scss */
.phone-menu a {
  color: #fff;
}

/* line 20, ../sass/css_/header.scss */
.phone-menu .menu,
.phone-menu .links {
  border-bottom: 1px solid #525e5e;
}

/* line 24, ../sass/css_/header.scss */
.phone-menu .menu {
  display: block;
  padding: 0 0 31px 0;
  text-align: center;
}

/* line 29, ../sass/css_/header.scss */
.phone-menu .menu .person {
  color: #e6330a;
  display: inline-block;
  text-align: center;
}

/* line 34, ../sass/css_/header.scss */
.phone-menu .menu .person:after {
  content: '';
  background: url("/img/red-person.png") no-repeat center center;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 0;
}

/* line 43, ../sass/css_/header.scss */
.phone-menu .links {
  font-family: plumb-bold;
  text-align: center;
  font-size: 23px;
  padding: 40px 0;
}

/* line 49, ../sass/css_/header.scss */
.phone-menu .links a {
  display: block;
  padding: 15px 0;
  vertical-align: middle;
}

/* line 54, ../sass/css_/header.scss */
.phone-menu .links a:hover {
  background-color: #333;
}

/* line 57, ../sass/css_/header.scss */
.phone-menu .links .exit a {
  color: #555;
}

/* line 60, ../sass/css_/header.scss */
.phone-menu .location {
  text-align: center;
  color: #777;
  font-size: 19px;
  margin: 40px 0 0 0;
}

/* line 66, ../sass/css_/header.scss */
.phone-menu .location .name:before {
  content: '';
  background: url("/img/pointer.png") no-repeat center center;
  width: 11px;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
  margin: -3px 3px 0 0;
}

/* line 76, ../sass/css_/header.scss */
.mobile-header {
  width: 100%;
  box-sizing: border-box;
  padding: 80px 20px 20px 20px;
}
/* line 80, ../sass/css_/header.scss */
.mobile-header .logo {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}
/* line 84, ../sass/css_/header.scss */
.mobile-header .logo img {
  width: 100%;
  height: auto;
}
/* line 89, ../sass/css_/header.scss */
.mobile-header .phones {
  float: right;
  font-family: "pfdintextpro-regular";
  text-align: right;
}
/* line 94, ../sass/css_/header.scss */
.mobile-header .phones .phone_number {
  font-size: 29px;
  font-weight: bold;
}
/* line 97, ../sass/css_/header.scss */
.mobile-header .phones .phone_number a {
  color: #000;
}
/* line 100, ../sass/css_/header.scss */
.mobile-header .phones .phone_number .phone_code {
  font-weight: normal;
}
/* line 105, ../sass/css_/header.scss */
.mobile-header .phones .phone_notis {
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 110, ../sass/css_/header.scss */
.mobile-header .search-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
}
/* line 116, ../sass/css_/header.scss */
.mobile-header .search-button img {
  width: 100%;
  height: auto;
}

/* line 122, ../sass/css_/header.scss */
.header {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #151817;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMjgyOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #232828), color-stop(100%, #010100));
  background-image: -moz-linear-gradient(#232828, #010100);
  background-image: -webkit-linear-gradient(#232828, #010100);
  background-image: linear-gradient(#232828, #010100);
}
/* line 132, ../sass/css_/header.scss */
.header .header_content {
  width: 1000px;
  left: 50%;
  margin: 0 0 0 -495px;
  position: relative;
}
/* line 138, ../sass/css_/header.scss */
.header .header_content .menu_button {
  display: none;
}
/* line 142, ../sass/css_/header.scss */
.header .header_content [id^="bx_incl_area"] {
  display: inline-block;
}
/* line 145, ../sass/css_/header.scss */
.header .header_content .region {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 55px;
  font-family: "plumb-medium";
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 15px;
  margin-right: 40px;
  background: url('/../../../img/pointer.png?1428585798') 0 20px no-repeat;
  cursor: default;
  float: left;
}
/* line 165, ../sass/css_/header.scss */
.header .header_content .top_menu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: auto;
  float: left;
}
/* line 171, ../sass/css_/header.scss */
.header .header_content .top_menu li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
}
/* line 176, ../sass/css_/header.scss */
.header .header_content .top_menu li:after {
  background: url('/../../../img/top_menu_bottom.png?1428585798') center bottom no-repeat;
  height: 4px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}
/* line 186, ../sass/css_/header.scss */
.header .header_content .top_menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-family: "plumb-bold";
  font-size: 11px;
  text-transform: uppercase;
  line-height: 55px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px 0 15px;
}
/* line 198, ../sass/css_/header.scss */
.header .header_content .top_menu li:hover:after {
  width: 100%;
  left: 0;
}
/* line 204, ../sass/css_/header.scss */
.header .header_content .top_menu li.active a {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2MzMwYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5MTcwNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6330a), color-stop(100%, #691705));
  background-image: -moz-linear-gradient(#e6330a, #691705);
  background-image: -webkit-linear-gradient(#e6330a, #691705);
  background-image: linear-gradient(#e6330a, #691705);
  background-position: 0 0;
}
/* line 209, ../sass/css_/header.scss */
.header .header_content .top_menu li.active:hover a {
  border-bottom: 0 solid #691705;
}
/* line 214, ../sass/css_/header.scss */
.header .header_content .top_menu li.active + li a {
  background: none;
}
/* line 220, ../sass/css_/header.scss */
.header .header_content .top_menu li + li a {
  padding: 0 19px 0 21px;
  background: url('/../../../img/top_menu_br.png?1428585798') left 23px no-repeat;
}
/* line 225, ../sass/css_/header.scss */
.header .header_content .top_menu li + li + li a {
  padding: 0 20px 0 18px;
}
/* line 229, ../sass/css_/header.scss */
.header .header_content .top_menu li + li + li + li a {
  padding: 0 18px 0 17px;
}
/* line 237, ../sass/css_/header.scss */
.header .header_content .backet {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 55px;
  font-family: "plumb-medium";
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 41px;
  background: url('/../../../img/backet.png?1428585798') 0 10px no-repeat;
  width: auto;
  float: right;
}
/* line 251, ../sass/css_/header.scss */
.header .header_content .backet:hover {
  color: #ffffff;
}
/* line 255, ../sass/css_/header.scss */
.header .header_content .logged-user {
  display: inline-block;
  color: #475656;
  float: right;
  margin-right: 20px;
}
/* line 261, ../sass/css_/header.scss */
.header .header_content .logged-user span {
  display: inline-block;
  vertical-align: top;
  line-height: 55px;
  margin: -2px 7px 2px 0;
}
/* line 268, ../sass/css_/header.scss */
.header .header_content .logged-user a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 55px;
  font-family: "plumb-medium";
  font-size: 11px;
  color: #e81600;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 278, ../sass/css_/header.scss */
.header .header_content .logged-user a.user {
  padding: 0 0 0 19px;
  background: url('/../../../img/user.png?1428585798') 0 21px no-repeat;
  margin-right: 5px;
}
/* line 283, ../sass/css_/header.scss */
.header .header_content .logged-user a.user:hover {
  color: #ffffff;
}
/* line 288, ../sass/css_/header.scss */
.header .header_content .logged-user a.exit {
  color: #fff;
}
/* line 293, ../sass/css_/header.scss */
.header .header_content .unlogged-user {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 55px;
  font-family: "plumb-medium";
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 19px;
  background: url('/../../../img/user.png?1428585798') 0 21px no-repeat;
  float: right;
  margin-right: 20px;
}
/* line 307, ../sass/css_/header.scss */
.header .header_content .unlogged-user:hover {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  /* line 319, ../sass/css_/header.scss */
  .mobile_enabled .header .header_content .top_menu,
  .mobile_enabled .header .header_content .region {
    display: none;
  }
  /* line 324, ../sass/css_/header.scss */
  .mobile_enabled .header .header_content .menu_button {
    display: inline-block;
    width: 52px;
    height: 52px;
    float: left;
    background: url("/img/menu-opener.png") no-repeat center left;
  }
}
@media screen and (max-width: 1020px) {
  /* line 337, ../sass/css_/header.scss */
  .header .header_content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0;
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 349, ../sass/css_/header.scss */
  .header .header_content .user,
  .header .header_content .top_menu {
    display: none;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 366, ../sass/css_/header.scss */
  .header .header_content .region {
    background: url('/../../../img/pointer@2x.png?1428585798') 0 20px no-repeat;
    -moz-background-size: 11px 15px;
    -o-background-size: 11px 15px;
    -webkit-background-size: 11px 15px;
    background-size: 11px 15px;
  }
  /* line 370, ../sass/css_/header.scss */
  .header .header_content .region:hover {
    background: url('/../../../img/pointer_hover@2x.png?1428585798') 0 20px no-repeat;
    -moz-background-size: 11px 15px;
    -o-background-size: 11px 15px;
    -webkit-background-size: 11px 15px;
    background-size: 11px 15px;
  }
  /* line 377, ../sass/css_/header.scss */
  .header .header_content .top_menu li:after {
    background: url('/../../../img/top_menu_bottom@2x.png?1428585798') center bottom no-repeat;
    -moz-background-size: 1280px 4px;
    -o-background-size: 1280px 4px;
    -webkit-background-size: 1280px 4px;
    background-size: 1280px 4px;
  }
  /* line 382, ../sass/css_/header.scss */
  .header .header_content .top_menu li + li a {
    background: url('/../../../img/top_menu_br@2x.png?1428585798') left 23px no-repeat;
    -moz-background-size: 1px 10px;
    -o-background-size: 1px 10px;
    -webkit-background-size: 1px 10px;
    background-size: 1px 10px;
  }
  /* line 389, ../sass/css_/header.scss */
  .header .header_content .backet {
    background: url('/../../../img/backet@2x.png?1428585798') 0 10px no-repeat;
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
  /* line 393, ../sass/css_/header.scss */
  .header .header_content .user {
    background: url('/../../../img/user@2x.png?1428585798') 0 21px no-repeat;
    -moz-background-size: 13px 13px;
    -o-background-size: 13px 13px;
    -webkit-background-size: 13px 13px;
    background-size: 13px 13px;
  }
}
