@charset "UTF-8";
/* line 4, ../sass/css_/index.scss */
.beauty_bg {
  background-position: left top;
  background-repeat: no-repeat;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  left: 50%;
  top: 55px;
  width: 100%;
  height: 825px;
  min-width: 1920px;
  margin-left: -960px;
}

/* line 16, ../sass/css_/index.scss */
.beauty_fg {
  position: absolute;
  bottom: 338px;
  width: 100%;
}
/* line 22, ../sass/css_/index.scss */
.beauty_fg > img {
  margin-bottom: 40px;
}
/* line 26, ../sass/css_/index.scss */
.beauty_fg .buttons .right,
.beauty_fg .buttons .left {
  position: absolute;
  bottom: 12px;
  left: 0;
  background: url('/../../../img/left-right.png?1431522282') left top no-repeat;
  width: 32px;
  height: 52px;
  cursor: pointer;
}
/* line 39, ../sass/css_/index.scss */
.beauty_fg .buttons .left:hover,
.beauty_fg .buttons .right:hover,
.beauty_fg .buttons .dot:hover {
  opacity: 0.6;
}
/* line 43, ../sass/css_/index.scss */
.beauty_fg .buttons .right {
  left: auto;
  right: 0;
  background-position: -32px 0;
}
/* line 48, ../sass/css_/index.scss */
.beauty_fg .buttons .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
/* line 56, ../sass/css_/index.scss */
.beauty_fg .buttons .dots .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 30px;
  margin-right: 8px;
}
/* line 63, ../sass/css_/index.scss */
.beauty_fg .buttons .dots .dot.active {
  background-color: red;
}

/* line 70, ../sass/css_/index.scss */
.beauty {
  position: relative;
  height: 880px;
  width: 990px;
  margin: 0 auto;
}
/* line 76, ../sass/css_/index.scss */
.beauty .logotype {
  position: absolute;
  left: 0;
  top: 99px;
}
/* line 81, ../sass/css_/index.scss */
.beauty .phone_block {
  position: absolute;
  right: 0;
  top: 79px;
}
/* line 86, ../sass/css_/index.scss */
.beauty .phone_block .phone {
  text-align: right;
  margin: 20px 0 0 0;
}
/* line 90, ../sass/css_/index.scss */
.beauty .phone_block .phone .phone_number {
  font-family: "plumb-blacksoft";
  font-size: 35px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
/* line 96, ../sass/css_/index.scss */
.beauty .phone_block .phone .phone_number a {
  color: #ffffff;
}
/* line 99, ../sass/css_/index.scss */
.beauty .phone_block .phone .phone_number .phone_code {
  font-family: "plumb-regular";
  letter-spacing: -1px;
}
/* line 104, ../sass/css_/index.scss */
.beauty .phone_block .phone .phone_notis {
  font-family: "pfdindisplaypro-medium";
  font-size: 12px;
  color: #ffffff;
}
/* line 111, ../sass/css_/index.scss */
.beauty .offert_block {
  left: 0;
  position: absolute;
  top: 390px;
}
/* line 116, ../sass/css_/index.scss */
.beauty .offert_block .offert_name {
  color: #ffffff;
  font-family: "pfdintextpro-bold";
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 78px;
  margin: 0 0 0 -6px;
  position: relative;
  text-transform: uppercase;
}
/* line 126, ../sass/css_/index.scss */
.beauty .offert_block .offert_name span {
  font-family: "pfdintextpro-light";
}
/* line 130, ../sass/css_/index.scss */
.beauty .offert_block .offert_text {
  color: #000000;
  font-family: "pfdindisplaypro-bold";
  font-size: 30px;
  line-height: 26px;
  margin: 0 0 30px;
}
/* line 137, ../sass/css_/index.scss */
.beauty .offert_block .offert_procent_value {
  color: #ffffff;
  font-family: "pfdintextpro-bold";
  font-size: 150px;
  letter-spacing: -6px;
  margin: 0 0 0 -11px;
}
/* line 144, ../sass/css_/index.scss */
.beauty .offert_block .offert_procent_value .offert_procent {
  font-family: "pfdintextpro-regular";
}
/* line 149, ../sass/css_/index.scss */
.beauty .search_block {
  right: 0;
  top: auto;
  position: absolute;
  border: 0;
  bottom: 420px;
}
/* line 156, ../sass/css_/index.scss */
.beauty .search_block .search_field {
  color: #000000;
  font-family: "pfdindisplaypro-light";
  font-size: 12px;
  padding: 15px 40px 16px 16px;
  width: 109px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: #ffffff;
  cursor: text;
  border: 1px solid #cdcdcd;
}
/* line 168, ../sass/css_/index.scss */
.beauty .search_block .search_submit {
  position: absolute;
  background: url('/../../../img/search_submit.png?1428585798') center center no-repeat;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: none;
  right: 14px;
  top: 16px;
}
/* line 179, ../sass/css_/index.scss */
.beauty .best_info_block {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 185, ../sass/css_/index.scss */
.beauty .best_info_block .best_products {
  width: 100%;
  height: 165px;
}
/* line 189, ../sass/css_/index.scss */
.beauty .best_info_block .best_products .best_product {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: bottom;
  width: 330px;
  height: 165px;
  position: relative;
  overflow: hidden;
}
/* line 197, ../sass/css_/index.scss */
.beauty .best_info_block .best_products .best_product img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
/* line 203, ../sass/css_/index.scss */
.beauty .best_info_block .best_products .best_product img.best_product_bg {
  z-index: 1;
  width: 330px;
  height: 165px;
}
/* line 208, ../sass/css_/index.scss */
.beauty .best_info_block .best_products .best_product img.best_product_content {
  z-index: 2;
  width: 330px;
  height: 165px;
}
/* line 216, ../sass/css_/index.scss */
.beauty .best_info_block .best_products .best_product:hover img.best_product_bg {
  width: 350px;
  height: 175px;
  margin: -5px 0 0 -10px;
}
/* line 225, ../sass/css_/index.scss */
.beauty .best_info_block .best_info {
  width: 100%;
  height: 165px;
}
/* line 229, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: bottom;
  width: 165px;
  height: 165px;
  overflow: hidden;
  position: relative;
}
/* line 237, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf .number {
  position: absolute;
  bottom: 20px;
  left: 31px;
  z-index: 10;
  color: #fff;
  font-family: "pfdindisplaypro-bold";
  font-size: 20px;
}
/* line 246, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf .number.right {
  left: auto;
  right: 31px;
}
/* line 252, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf img {
  position: absolute;
  z-index: 1;
}
/* line 256, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf img.best_product_bg {
  z-index: 1;
  width: 165px;
  height: 165px;
}
/* line 261, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf img.best_product_content {
  z-index: 2;
  width: 165px;
  height: 165px;
}
/* line 269, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_block_inf:hover img.best_product_bg {
  width: 175px;
  height: 175px;
  margin: -5px 0 0 -5px;
}
/* line 277, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_central {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: bottom;
  height: 165px;
  width: 660px;
  background: #ffffff;
}
/* line 284, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_central .best_info_central_title {
  color: #000000;
  font-size: 20px;
  font-family: "pfdintextpro-medium";
  text-transform: uppercase;
  text-align: center;
  margin: 29px 0 0 0;
}
/* line 292, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_central .best_info_central_subtitle {
  color: #000000;
  font-size: 32px;
  font-family: "pfdintextpro-bold";
  text-transform: uppercase;
  text-align: center;
  margin: 4px 0 0 0;
}
/* line 300, ../sass/css_/index.scss */
.beauty .best_info_block .best_info .best_info_central .best_info_central_description {
  color: #000000;
  font-size: 14px;
  font-family: "pfdintextpro-regular";
  text-transform: lowercase;
  text-align: center;
  margin: 13px 0 0 0;
}

/* line 315, ../sass/css_/index.scss */
.index_page .best_info_central_buttons {
  width: 990px;
  margin: -45px auto 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 322, ../sass/css_/index.scss */
.index_page .best_info_central_buttons a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: bottom;
  font-family: "pfdintextpro-medium";
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 164px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5Yjc0ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdhYWI0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89b74e), color-stop(100%, #7aab4c));
  background-image: -moz-linear-gradient(#89b74e, #7aab4c);
  background-image: -webkit-linear-gradient(#89b74e, #7aab4c);
  background-image: linear-gradient(#89b74e, #7aab4c);
}
/* line 337, ../sass/css_/index.scss */
.index_page .best_info_central_buttons a:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5ODllNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5NjdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8989e4), color-stop(100%, #9967ff));
  background-image: -moz-linear-gradient(#8989e4, #9967ff);
  background-image: -webkit-linear-gradient(#8989e4, #9967ff);
  background-image: linear-gradient(#8989e4, #9967ff);
}
/* line 340, ../sass/css_/index.scss */
.index_page .best_info_central_buttons a.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5ODllNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5NjdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8989e4), color-stop(100%, #9967ff));
  background-image: -moz-linear-gradient(#8989e4, #9967ff);
  background-image: -webkit-linear-gradient(#8989e4, #9967ff);
  background-image: linear-gradient(#8989e4, #9967ff);
}
/* line 344, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .row {
  height: 45px;
  display: none;
}
/* line 348, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .row.active {
  display: block;
}
/* line 352, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row {
  height: 85px;
  width: 100%;
  position: relative;
  display: none;
}
/* line 358, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row.active {
  display: block;
}
/* line 361, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .lt {
  width: 25px;
  height: 25px;
  background: url('/../../../img/lines/left-top.png?1428585798') center center no-repeat;
  position: absolute;
  left: 50%;
}
/* line 368, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .rt {
  width: 25px;
  height: 25px;
  background: url('/../../../img/lines/right-top.png?1428585798') center center no-repeat;
  position: absolute;
  right: 50%;
}
/* line 375, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .v {
  width: 2px;
  height: 48px;
  background: url('/../../../img/lines/pixel.png?1428585798') center center repeat-y;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -1px;
}
/* line 383, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .h {
  width: 2px;
  height: 2px;
  background: url('/../../../img/lines/pixel.png?1428585798') center center repeat-x;
  position: absolute;
  top: 23px;
}
/* line 390, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .lb {
  width: 25px;
  height: 25px;
  background: url('/../../../img/lines/right-bottom.png?1428585798') center center no-repeat;
  position: absolute;
  top: 23px;
  right: 50%;
  margin: 0 -25px 0 0;
}
/* line 399, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .rb {
  width: 25px;
  height: 25px;
  background: url('/../../../img/lines/left-bottom.png?1428585798') center center no-repeat;
  position: absolute;
  top: 23px;
  left: 50%;
  margin: 0 0 0 -25px;
}
/* line 408, ../sass/css_/index.scss */
.index_page .best_info_central_buttons .between_row .title {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "pfdintextpro-regular";
  font-size: 14px;
}
/* line 419, ../sass/css_/index.scss */
.index_page .products_block {
  width: 990px;
  margin: 30px auto;
}
/* line 423, ../sass/css_/index.scss */
.index_page .products_block .mobile-beauty {
  display: none;
}
/* line 427, ../sass/css_/index.scss */
.index_page .products_block .product {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 272px;
  margin: 29px;
}
/* line 434, ../sass/css_/index.scss */
.index_page .products_block .product .product_new {
  float: right;
  text-transform: uppercase;
  color: #f9a411;
  font-size: 12px;
  line-height: 12x;
  height: 12px;
  text-align: center;
  vertical-align: middle;
  font-family: "pfdintextpro-bold";
  border: 2px solid #f9a411;
  margin: 0 2px 0 0;
  padding: 2px 2px 0 2px;
}
/* line 448, ../sass/css_/index.scss */
.index_page .products_block .product .product_brand {
  font-family: "pfdintextpro-medium";
  font-size: 30px;
  text-transform: uppercase;
}
/* line 453, ../sass/css_/index.scss */
.index_page .products_block .product .product_brand a {
  color: #000000;
}
/* line 457, ../sass/css_/index.scss */
.index_page .products_block .product .product_name {
  font-family: "pfdintextpro-medium";
  font-size: 16px;
  text-transform: uppercase;
  height: auto;
}
/* line 463, ../sass/css_/index.scss */
.index_page .products_block .product .product_name a {
  color: #000000;
}
/* line 467, ../sass/css_/index.scss */
.index_page .products_block .product .product_description {
  border-top: 1px solid #000000;
  font-family: "pfdintextpro-regular";
  font-size: 16px;
  padding: 16px 0 0 0;
  height: 80px;
}
/* line 474, ../sass/css_/index.scss */
.index_page .products_block .product .product_image {
  position: relative;
}
/* line 477, ../sass/css_/index.scss */
.index_page .products_block .product .product_image img {
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  display: block;
}
/* line 484, ../sass/css_/index.scss */
.index_page .products_block .product .product_image img.product_image_original {
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 488, ../sass/css_/index.scss */
.index_page .products_block .product .product_image img.product_image_hover {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 495, ../sass/css_/index.scss */
.index_page .products_block .product .product_image:hover img.product_image_original {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 498, ../sass/css_/index.scss */
.index_page .products_block .product .product_image:hover img.product_image_hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 504, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block {
  position: relative;
  height: 54px;
  background: url('/../../../img/price_border.png?1428585798') center bottom repeat-x;
}
/* line 509, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_old_price {
  font-family: "plumb-regular";
  font-size: 20px;
  height: 20px;
  width: 100%;
  color: #e6330a;
  margin: 12px 0 0 0;
}
/* line 517, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_old_price .rub:before {
  font-family: "pt_sans-regular";
  font-size: 14px;
  line-height: 16px;
  vertical-align: baseline;
  top: -4px;
  position: relative;
}
/* line 527, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_price_block .product_price {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "plumb-bold";
  font-size: 40px;
  line-height: 40px;
  vertical-align: baseline;
  margin: 2px 0 0 0;
  letter-spacing: -1px;
  white-space: nowrap;
}
/* line 537, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_price_block .product_price .product_price_value {
  line-height: 40px;
  vertical-align: baseline;
  background: #ffffff;
  padding: 0 6px 0 0;
}
/* line 544, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_price_block .product_price .rub:before {
  font-family: "pt_sans-bold";
  font-size: 30px;
  line-height: 40px;
  vertical-align: baseline;
  top: -7px;
  position: relative;
}
/* line 554, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_price_block .product_cart {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 52px;
  cursor: pointer;
  padding: 0 0 0 2px;
  background: #ffffff url('/../../../img/cart.png?1428585798') right center no-repeat;
}
/* line 565, ../sass/css_/index.scss */
.index_page .products_block .product .product_prices_block .product_price_block .product_cart:hover {
  background: #ffffff url('/../../../img/cart_hover.png?1428585798') right center no-repeat;
}
/* line 573, ../sass/css_/index.scss */
.index_page .behaviors {
  width: 990px;
  margin: 30px auto;
}
/* line 577, ../sass/css_/index.scss */
.index_page .behaviors .behavior {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 495px;
  height: 165px;
  overflow: hidden;
}
/* line 584, ../sass/css_/index.scss */
.index_page .behaviors .behavior .behavior_hover {
  position: absolute;
  width: 495px;
  height: 165px;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 591, ../sass/css_/index.scss */
.index_page .behaviors .behavior .behavior_title {
  font-family: "pfdintextpro-regular";
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 29px 0 0 28px;
  position: relative;
  z-index: 2;
}
/* line 600, ../sass/css_/index.scss */
.index_page .behaviors .behavior .behavior_title:after {
  background: #ffffff;
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 611, ../sass/css_/index.scss */
.index_page .behaviors .behavior .behavior_description {
  color: #ffffff;
  font-family: "pfdintextpro-medium";
  font-size: 19px;
  line-height: 22px;
  margin: 10px 0 0 30px;
  left: 100%;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
}
/* line 622, ../sass/css_/index.scss */
.index_page .behaviors .behavior.offers {
  background: url('/../../../img/index/behavior_offers.png?1428585798') -20px center no-repeat;
}
/* line 625, ../sass/css_/index.scss */
.index_page .behaviors .behavior.offers .behavior_hover {
  background: url('/../../../img/index/behavior_offers_hover.png?1428585797') -20px center no-repeat;
}
/* line 629, ../sass/css_/index.scss */
.index_page .behaviors .behavior.news {
  background: url('/../../../img/index/behavior_news.png?1428585797') -20px center no-repeat;
}
/* line 632, ../sass/css_/index.scss */
.index_page .behaviors .behavior.news .behavior_hover {
  background: url('/../../../img/index/behavior_news_hover.png?1428585798') -20px center no-repeat;
}
/* line 636, ../sass/css_/index.scss */
.index_page .behaviors .behavior:hover {
  background-position: 0 center;
}
/* line 639, ../sass/css_/index.scss */
.index_page .behaviors .behavior:hover .behavior_hover {
  background-position: 0 center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 644, ../sass/css_/index.scss */
.index_page .behaviors .behavior:hover .behavior_title:after {
  width: 439px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 649, ../sass/css_/index.scss */
.index_page .behaviors .behavior:hover .behavior_description {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 656, ../sass/css_/index.scss */
.index_page .dealers {
  width: 990px;
  margin: 46px auto 0 auto;
}
/* line 660, ../sass/css_/index.scss */
.index_page .dealers .area_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 195px;
  margin: 7px 0 0 0;
}
/* line 666, ../sass/css_/index.scss */
.index_page .dealers .area_block .area_block_title {
  font-family: "pfdindisplaypro-medium";
  font-size: 10px;
  text-transform: uppercase;
}
/* line 671, ../sass/css_/index.scss */
.index_page .dealers .area_block .ui-autocomplete-input {
  margin: 13px 0 0 0;
}
/* line 675, ../sass/css_/index.scss */
.index_page .dealers .dealers_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 795px;
}
/* line 680, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  background: url('/../../../img/dealers_point.png?1428585798') 0 0 no-repeat;
  width: 130px;
  margin-bottom: 18px;
  margin-right: 31px;
  color: #000000;
}
/* line 689, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer.coming-soon {
  font-family: "pfdindisplaypro-medium";
  font-size: 12px;
  position: relative;
  top: 0;
}
/* line 695, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer.coming-soon * {
  opacity: 0.7;
}
/* line 699, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer.coming-soon:before {
  content: 'Скоро открытие!';
  color: #f00;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 708, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer a {
  color: #000000;
}
/* line 711, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_street {
  font-family: "pfdindisplaypro-medium";
  font-size: 12px;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}
/* line 717, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_build {
  font-family: "pfdintextpro-regular";
  font-size: 13px;
}
/* line 721, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_build .dealer_build_number {
  font-family: "plumb-blacksoft";
  font-size: 16px;
}
/* line 726, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_time_title {
  font-family: "pfdindisplaypro-medium";
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin: 8px 0 0 0;
}
/* line 733, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_time {
  font-family: "plumb-bold";
  font-size: 20px;
  letter-spacing: -1px;
  margin: 1px 0 0 0;
}
/* line 739, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_map {
  margin: 3px 0 0 0;
}
/* line 742, ../sass/css_/index.scss */
.index_page .dealers .dealers_block .dealer .dealer_map span {
  font-family: "pfdintextpro-bold";
  font-size: 10px;
  text-transform: uppercase;
  color: #e6330a;
  background: url('/../../../img/next_arrow.png?1428585798') right center no-repeat;
  padding: 0 11px 0 0;
  position: relative;
  left: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 758, ../sass/css_/index.scss */
.index_page .index-brands {
  width: 990px;
  margin: 50px auto;
  font-family: "pfdintextpro-regular";
  font-size: 14px;
}
/* line 765, ../sass/css_/index.scss */
.index_page .index-brands > li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  width: 130px;
  margin-right: 38px;
}
/* line 771, ../sass/css_/index.scss */
.index_page .index-brands > li:last-child {
  margin-right: 0;
}
/* line 776, ../sass/css_/index.scss */
.index_page .index-brands .name {
  color: #e6330a;
  text-transform: uppercase;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 786, ../sass/css_/index.scss */
.index_page .index-brands .brand-list {
  text-transform: uppercase;
}
/* line 788, ../sass/css_/index.scss */
.index_page .index-brands .brand-list > li {
  margin-bottom: 4px;
}

/* line 795, ../sass/css_/index.scss */
.notouch .index_page .dealers .dealers_block .dealer:hover {
  background: url('/../../../img/dealers_point_hover.png?1428585798') 0 0 no-repeat;
}
/* line 799, ../sass/css_/index.scss */
.notouch .index_page .dealers .dealers_block .dealer:hover .dealer_map span {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/*
@media screen and (max-width: 640px) {
  .mobile_enabled .index_page .dealers,
  .mobile_enabled .contacts_page .contacts .dealers {
    background-color: #e5e5e5;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .mobile_enabled .index_page .dealers .dealers_block,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block {
    width: 100%;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer,
  .mobile_enabled .index_page .dealers .dealers_block .dealer.nomarg,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer.nomarg {
    margin: 0 40px 20px 0 !important;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer {
    display: block;
    position: relative;
    top: 0;
    height: 80px;
    background: none !important;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer.coming-soon:before,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer.coming-soon:before {
    left: 0;
    bottom: 10px;
    right: auto;
    top: auto;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer a,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: top;
    z-index: 5;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer:after,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer:after {
    content: 'На карте';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e6330a;
    padding: 20px 25px;
    border-radius: 6px;
    color: #fff;
    font-family: "pfdindisplaypro-medium";
    text-transform: uppercase;
    font-size: 13px;
    z-index: 4;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_street,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_street {
    margin: 0;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_time,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_time {
    position: absolute;
    top: 18px;
    right: 116px;
    font-size: 15px;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_time:before,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_time:before {
    content: '';
    display: inline-block;
    right: 116px;
    left: auto;
    width: 11px;
    height: 11px;
    background: url("/img/mobile/small-clock@2x.png");
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 5px;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_build,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_build {
    margin-top: 10px;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_build .dealer_build_number,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_build .dealer_build_number {
    font-size: 20px;
  }
  .mobile_enabled .index_page .dealers .dealers_block .dealer .dealer_time_title,
  .mobile_enabled .contacts_page .contacts .dealers .dealers_block .dealer .dealer_time_title {
    display: none;
  }
  .mobile_enabled .index_page .dealers .area_block,
  .mobile_enabled .contacts_page .contacts .dealers .area_block {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .mobile_enabled .index_page .dealers .area_block .select,
  .mobile_enabled .contacts_page .contacts .dealers .area_block .select {
    width: 100%;
  }
  .mobile_enabled .index_page .dealers .area_block .select .select_arrow,
  .mobile_enabled .contacts_page .contacts .dealers .area_block .select .select_arrow {
    top: 3px;
    right: 4px;
  }
  .mobile_enabled .index_page .dealers .area_block .select input,
  .mobile_enabled .contacts_page .contacts .dealers .area_block .select input {
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    border: 2px solid #aaa;
    border-radius: 3px;
  }
  .mobile_enabled .contacts_page .contacts .dealers {
    width: auto;
    margin: -20px -20px -30px -20px;
  }
  .mobile_enabled .contacts_page .contacts .dealers .area_block {
    margin: 20px 0 0 0;
  }
  .mobile_enabled .index_page .beauty_bg,
  .mobile_enabled .index_page .beauty,
  .mobile_enabled .index_page .best_info_central_buttons,
  .mobile_enabled .index_page .behaviors {
    display: none;
  }
  .mobile_enabled .index_page .products_block {
    width: 100%;
  }
  .mobile_enabled .index_page .products_block .mobile-beauty {
    margin: 10px 0 50px 0;
    display: block;
    position: relative;
    top: 0;
    width: 100%;
  }
  .mobile_enabled .index_page .products_block .mobile-beauty img {
    width: 100%;
    height: auto;
  }
  .mobile_enabled .index_page .products_block .mobile-beauty img.best_product_content {
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile_enabled .index_page .products_block .product {
    display: block;
    margin: 10px auto 30px auto;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .index_page .beauty .search_block .search_submit {
    background: url('/../../../img/search_submit@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 14px 14px;
    -o-background-size: 14px 14px;
    -webkit-background-size: 14px 14px;
    background-size: 14px 14px;
  }
  .index_page .between_row .lt {
    background: url('/../../../img/lines/left-top@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
  .index_page .between_row .rt {
    background: url('/../../../img/lines/right-top@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
  .index_page .between_row .v {
    background: url('/../../../img/lines/pixel@2x.png?1428585798') center center repeat-y;
    -moz-background-size: 2px 2px;
    -o-background-size: 2px 2px;
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
  }
  .index_page .between_row .h {
    background: url('/../../../img/lines/pixel@2x.png?1428585798') center center repeat-x;
    -moz-background-size: 2px 2px;
    -o-background-size: 2px 2px;
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
  }
  .index_page .between_row .lb {
    background: url('/../../../img/lines/right-bottom@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
  .index_page .between_row .rb {
    background: url('/../../../img/lines/left-bottom@2x.png?1428585798') center center no-repeat;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
  .index_page .products_block .product .product_prices_block {
    background: url('/../../../img/price_border@2x.png?1428585798') center bottom repeat-x;
    -moz-background-size: 4px 1px;
    -o-background-size: 4px 1px;
    -webkit-background-size: 4px 1px;
    background-size: 4px 1px;
  }
  .index_page .products_block .product .product_prices_block .product_price_block .product_cart {
    background: #ffffff url('/../../../img/cart@2x.png?1428585797') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
  .index_page .products_block .product .product_prices_block .product_price_block .product_cart:hover {
    background: #ffffff url('/../../../img/cart_hover@2x.png?1428585798') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
  .index_page .behaviors .behavior.offers {
    background: url('/../../../img/index/behavior_offers@2x.png?1428585797') -20px center no-repeat;
    -moz-background-size: 515px 165px;
    -o-background-size: 515px 165px;
    -webkit-background-size: 515px 165px;
    background-size: 515px 165px;
  }
  .index_page .behaviors .behavior.offers .behavior_hover {
    background: url('/../../../img/index/behavior_offers_hover@2x.png?1428585798') -20px center no-repeat;
    -moz-background-size: 515px 165px;
    -o-background-size: 515px 165px;
    -webkit-background-size: 515px 165px;
    background-size: 515px 165px;
  }
  .index_page .behaviors .behavior.news {
    background: url('/../../../img/index/behavior_news@2x.png?1428585797') -20px center no-repeat;
    -moz-background-size: 515px 165px;
    -o-background-size: 515px 165px;
    -webkit-background-size: 515px 165px;
    background-size: 515px 165px;
  }
  .index_page .behaviors .behavior.news .behavior_hover {
    background: url('/../../../img/index/behavior_news_hover@2x.png?1428585798') -20px center no-repeat;
    -moz-background-size: 515px 165px;
    -o-background-size: 515px 165px;
    -webkit-background-size: 515px 165px;
    background-size: 515px 165px;
  }
  .index_page .dealers .dealers_block .dealer {
    background: url('/../../../img/dealers_point@2x.png?1428585798') 0 0 no-repeat;
    -moz-background-size: 15px 18px;
    -o-background-size: 15px 18px;
    -webkit-background-size: 15px 18px;
    background-size: 15px 18px;
  }
  .index_page .dealers .dealers_block .dealer .dealer_map span {
    background: url('/../../../img/next_arrow@2x.png?1428585798') right center no-repeat;
    -moz-background-size: 5px 8px;
    -o-background-size: 5px 8px;
    -webkit-background-size: 5px 8px;
    background-size: 5px 8px;
  }
  .index_page .dealers .dealers_block .dealer:hover {
    background: url('/../../../img/dealers_point_hover@2x.png?1428585798') 0 0 no-repeat;
    -moz-background-size: 15px 18px;
    -o-background-size: 15px 18px;
    -webkit-background-size: 15px 18px;
    background-size: 15px 18px;
  }
}
*/
