/* line 4, ../sass/css_/my_orders.scss */
.my_orders_page .search_block {
  top: 13px;
}
/* line 7, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders {
  position: relative;
  width: 990px;
  margin: 0 auto 49px auto;
}
/* line 12, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .cancel-order {
  font-family: "pfdintextpro-regular" !important;
  font-size: 13px;
}
/* line 15, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .cancel-order a {
  color: #e6330a !important;
}
/* line 19, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .breadcrumbs {
  margin: -8px 0 0 0;
}
/* line 22, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 39px;
  margin: 12px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 30, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list {
  margin: 40px 0 0 0;
}
/* line 33, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order {
  margin: 0 0 75px 0;
}
/* line 36, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header {
  border-bottom: 1px solid #000000;
  padding: 0 0 10px 0;
  margin: 0 0 28px 0;
}
/* line 41, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header .order_number {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  color: #000000;
  font-size: 16px;
  font-family: "plumb-bold";
  text-transform: uppercase;
  letter-spacing: -0.5px;
  border-right: 1px solid #000000;
  padding: 0 21px 0 0;
  margin: 0 13px 0 0;
}
/* line 53, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header .order_detail {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  color: #e6330a;
  font-size: 16px;
  font-family: "plumb-bold";
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
/* line 62, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header .order_detail a {
  color: #e6330a;
  font-size: 16px;
  font-family: "plumb-bold";
  text-transform: uppercase;
  letter-spacing: -0.5px;
  position: relative;
}
/* line 70, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header .order_detail a:after {
  background: url('/../../../img/short_link_bottom.png?1428585798') center bottom no-repeat;
  height: 2px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 81, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .order_header .order_detail a:hover:after {
  width: 100%;
}
/* line 89, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 395px;
}
/* line 97, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_information table tr td {
  font-family: "pfdintextpro-regular";
  color: #000000;
  font-size: 16px;
  padding: 0 0 8px 0;
}
/* line 103, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_information table tr td span {
  color: #7e7e7e;
  padding: 0 29px 0 0;
}
/* line 111, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition {
  margin: 16px 0 0 0;
}
/* line 114, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition .h4 {
  color: #000000;
  font-size: 16px;
  font-family: "pfdintextpro-bold";
  margin: 0 0 16px 0;
}
/* line 121, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition ul li {
  margin: 12px 0 0 0;
  color: #000000;
  font-size: 12px;
  font-family: "pfdintextpro-medium";
  text-transform: uppercase;
}
/* line 128, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition ul li a {
  color: #e6330a;
  position: relative;
}
/* line 132, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition ul li a:after {
  background: url('/../../../img/short_link_bottom.png?1428585798') center bottom no-repeat;
  height: 2px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 143, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .description .order_composition ul li a:hover:after {
  width: 100%;
}
/* line 152, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 156, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .status {
  border: 1px solid #3cb878;
  padding: 24px 42px 21px 42px;
  margin: -2px 0 0 0;
  width: 271px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 163, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .status .date {
  font-family: "pfdintextpro-regular";
  color: #898989;
  font-size: 12px;
  letter-spacing: -0.5px;
  margin: 0 0 10px 0;
}
/* line 170, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .status .name {
  color: #000000;
  font-family: "pfdintextpro-regular";
  font-size: 16px;
}
/* line 176, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .buttons {
  margin: 19px 0 0 0;
}
/* line 179, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .buttons a {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2YzdjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c6c7c7), color-stop(100%, #979797));
  background-image: -moz-linear-gradient(#c6c7c7, #979797);
  background-image: -webkit-linear-gradient(#c6c7c7, #979797);
  background-image: linear-gradient(#c6c7c7, #979797);
  margin: 0 19px 0 0;
  padding: 16px 11px 14px 22px;
  width: 135px;
}
/* line 192, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .order_list .order .description_block .status_block .buttons a:hover {
  background: #7aab4b;
}
/* line 201, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .h2 {
  color: #000000;
  font-size: 20px;
  font-family: "pfdintextpro-medium";
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  padding: 0 0 5px 0;
  margin: -3px 0 0 0;
}
/* line 210, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products {
  margin: 0 0 74px 0;
}
/* line 213, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  width: 135px;
  margin: 28px 45px 0 0;
}
/* line 220, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product.tree {
  margin: 28px 0 0 0;
}
/* line 223, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_brand {
  font-family: "pfdintextpro-medium";
  text-transform: uppercase;
  font-size: 15px;
  height: 20px;
}
/* line 229, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_description {
  border-top: 1px solid #000000;
  font-family: "pfdintextpro-regular";
  overflow: hidden;
  font-size: 14px;
  padding: 7px 0 0 0;
  height: 28px;
}
/* line 237, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_assessment_block {
  margin: 12px 0;
  cursor: pointer;
  width: 45px;
  height: 7px;
  position: absolute;
  z-index: 3;
  bottom: 18px;
  background: url('/../../../img/asterix_mini.png?1428585798') left center repeat-x;
}
/* line 247, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_assessment_block .product_assessment {
  height: 7px;
  background: url('/../../../img/asterix_mini_active.png?1428585798') left center repeat-x;
  cursor: pointer;
}
/* line 253, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image {
  width: 135px;
  height: 105px;
  margin: 0 0 3px 0;
  position: relative;
}
/* line 259, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image img {
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  display: block;
  width: 100%;
  height: auto;
}
/* line 268, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image img.product_image_original {
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 272, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image img.product_image_hover {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 279, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image:hover img.product_image_original {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 282, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_image:hover img.product_image_hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 288, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block {
  position: relative;
  height: 22px;
  background: url('/../../../img/price_border.png?1428585798') center bottom repeat-x;
}
/* line 294, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_price {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: baseline;
  font-family: "plumb-bold";
  font-size: 25px;
  line-height: 25px;
  margin: 1px 0 0 0;
  letter-spacing: -1px;
  white-space: nowrap;
}
/* line 304, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_price .product_price_value {
  background: #ffffff;
  padding: 0 6px 0 0;
}
/* line 308, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_price .rub:before {
  font-family: "pt_sans-bold";
  vertical-align: baseline;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  top: -4px;
}
/* line 317, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_cart {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 52px;
  cursor: pointer;
  padding: 0 0 0 2px;
  z-index: 2;
  background: url('/../../../img/cart.png?1428585798') right center no-repeat;
}
/* line 329, ../sass/css_/my_orders.scss */
.my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_cart:hover {
  background: url('/../../../img/cart_hover.png?1428585798') right center no-repeat;
}

@media screen and (max-width: 640px) {
  /* line 343, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  /* line 347, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page .my_orders {
    width: 100%;
  }
  /* line 349, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page .my_orders .viewed_products .product {
    margin-right: 20px;
  }
  /* line 353, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page .my_orders .order_list .order .order_header .order_detail {
    margin-top: 10px;
  }
  /* line 357, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page .my_orders .order_list .order .description_block .status_block .buttons a {
    margin-bottom: 20px;
  }
  /* line 360, ../sass/css_/my_orders.scss */
  .mobile_enabled .my_orders_page .my_orders .order_list .order .description_block .status_block .status {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 386, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .order_list .order .order_header .order_detail a:after {
    background: url('/../../../img/short_link_bottom@2x.png?1428585798') center bottom no-repeat;
    -moz-background-size: 320px 1px;
    -o-background-size: 320px 1px;
    -webkit-background-size: 320px 1px;
    background-size: 320px 1px;
  }
  /* line 399, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .order_list .order .description_block .description .order_composition ul li a:after {
    background: url('/../../../img/short_link_bottom@2x.png?1428585798') center bottom no-repeat;
    -moz-background-size: 320px 1px;
    -o-background-size: 320px 1px;
    -webkit-background-size: 320px 1px;
    background-size: 320px 1px;
  }
  /* line 413, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .viewed_products .product .product_assessment_block {
    background: url('/../../../img/asterix_mini@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 9px 7px;
    -o-background-size: 9px 7px;
    -webkit-background-size: 9px 7px;
    background-size: 9px 7px;
  }
  /* line 417, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .viewed_products .product .product_assessment_block .product_assessment {
    background: url('/../../../img/asterix_mini_active@2x.png?1428585798') left center repeat-x;
    -moz-background-size: 9px 7px;
    -o-background-size: 9px 7px;
    -webkit-background-size: 9px 7px;
    background-size: 9px 7px;
  }
  /* line 422, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .viewed_products .product .product_prices_block {
    background: url('/../../../img/price_border@2x.png?1428585798') center bottom repeat-x;
    -moz-background-size: 4px 1px;
    -o-background-size: 4px 1px;
    -webkit-background-size: 4px 1px;
    background-size: 4px 1px;
  }
  /* line 427, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_cart {
    background: url('/../../../img/cart@2x.png?1428585797') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
  /* line 431, ../sass/css_/my_orders.scss */
  .my_orders_page .my_orders .viewed_products .product .product_prices_block .product_price_block .product_cart:hover {
    background: url('/../../../img/cart_hover@2x.png?1428585798') right center no-repeat;
    -moz-background-size: 32px 52px;
    -o-background-size: 32px 52px;
    -webkit-background-size: 32px 52px;
    background-size: 32px 52px;
  }
}
