/* line 1, ../sass/css_/personal.scss */
.personal {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
/* line 7, ../sass/css_/personal.scss */
.personal.personal-edit {
  font-family: "pfdintextpro-regular";
}
/* line 11, ../sass/css_/personal.scss */
.personal.personal-edit .profile-table td {
  padding: 10px 0;
}
/* line 13, ../sass/css_/personal.scss */
.personal.personal-edit .profile-table td input {
  border: 1px solid #aaa;
  padding: 5px 10px;
  background-color: #fff;
}
/* line 21, ../sass/css_/personal.scss */
.personal.personal-edit input[type=submit],
.personal.personal-edit input[type=reset] {
  background-color: #7aab4c;
  color: #fff;
  font-family: "pfdintextpro-medium";
  text-transform: uppercase;
  padding: 15px 10px;
  cursor: pointer;
  margin: 20px 20px 20px 0;
  border: 0;
}
/* line 35, ../sass/css_/personal.scss */
.personal h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 28px;
  margin: 30px 0 0 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 44, ../sass/css_/personal.scss */
.personal h2 {
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #dfdfdf;
  margin: 40px 0 25px;
  color: #000;
  font-family: "pfdintextpro-medium";
}
/* line 56, ../sass/css_/personal.scss */
.personal a {
  font-family: "pfdintextpro-regular";
  font-size: 18px;
  color: #e6330a;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
  /* line 69, ../sass/css_/personal.scss */
  .mobile_enabled .personal {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
