/* line 4, ../sass/css_/registration.scss */
.registration_page .search_block {
  top: 13px;
}
/* line 7, ../sass/css_/registration.scss */
.registration_page .registration {
  position: relative;
  width: 990px;
  margin: 0 auto 49px auto;
}
/* line 12, ../sass/css_/registration.scss */
.registration_page .registration .breadcrumbs {
  margin: -8px 0 0 0;
}
/* line 15, ../sass/css_/registration.scss */
.registration_page .registration h1 {
  text-transform: uppercase;
  font-family: "pfdintextpro-medium";
  font-size: 39px;
  margin: 12px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 23, ../sass/css_/registration.scss */
.registration_page .registration a {
  color: #e6330a;
  font-size: 16px;
  line-height: 16px;
  font-family: "pfdintextpro-regular";
  position: relative;
}
/* line 30, ../sass/css_/registration.scss */
.registration_page .registration a:after {
  background: url('/../../../img/short_link_bottom.png?1428585798') center bottom no-repeat;
  height: 2px;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 41, ../sass/css_/registration.scss */
.registration_page .registration a:hover:after {
  width: 100%;
}
/* line 46, ../sass/css_/registration.scss */
.registration_page .registration .form_block {
  margin: 40px 0 21px 0;
}
/* line 51, ../sass/css_/registration.scss */
.registration_page .registration .form_block table tr td {
  vertical-align: top;
}
/* line 54, ../sass/css_/registration.scss */
.registration_page .registration .form_block table tr td label {
  font-family: "pfdintextpro-regular";
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  cursor: default;
}
/* line 61, ../sass/css_/registration.scss */
.registration_page .registration .form_block table tr td input {
  border: 1px solid #bfbfbf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "pfdintextpro-regular";
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  margin: 7px 10px 24px 0;
  padding: 13px;
  width: 302px;
  cursor: text;
}
/* line 73, ../sass/css_/registration.scss */
.registration_page .registration .form_block table tr td .notis {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  color: #a3a3a3;
  font-size: 12px;
  line-height: 16px;
  font-family: "pfdintextpro-regular";
  margin: 13px 0 0 0;
}
/* line 82, ../sass/css_/registration.scss */
.registration_page .registration .form_block table tr td .captcha {
  margin: 12px 0 8px 0;
}
/* line 88, ../sass/css_/registration.scss */
.registration_page .registration .form_block .button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-family: "pfdintextpro-medium";
  font-size: 15px;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  padding: 15px 28px 14px 26px;
  margin: 4px 0 5px 0;
  color: #ffffff;
  background: #7aab4b;
}
/* line 101, ../sass/css_/registration.scss */
.registration_page .registration .form_block .button:after {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 120, ../sass/css_/registration.scss */
  .registration_page .registration a:after {
    background: url('/../../../img/short_link_bottom@2x.png?1428585798') center bottom no-repeat;
    -moz-background-size: 320px 1px;
    -o-background-size: 320px 1px;
    -webkit-background-size: 320px 1px;
    background-size: 320px 1px;
  }
}
@media screen and (max-width: 640px) {
  /* line 131, ../sass/css_/registration.scss */
  .mobile_enabled .registration_page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  /* line 135, ../sass/css_/registration.scss */
  .mobile_enabled .registration_page .registration {
    width: 100%;
  }
  /* line 137, ../sass/css_/registration.scss */
  .mobile_enabled .registration_page .registration .form_block table tr td input {
    width: 80%;
  }
}
