@import "compass/css3";

.fave_page{
	.search_block{
		top:13px;	
	}
	.fave{
		position:relative;
		width:990px;
		margin:0 auto 49px auto;	
		
		.breadcrumbs{
			margin:-8px 0 0 0;	
		}
		h1{
			text-transform:uppercase;
			font-family:"pfdintextpro-medium";
			font-size:29px;	
			margin:19px 0 0 0;
			@include inline-block;
			vertical-align:top;	
		}
		.fave_products{
			margin:20px 0 82px 0;
			font-family:"pfdintextpro-medium";

			.product{
				@include inline-block;
				vertical-align:top;	
				position:relative;
				width:135px;
				margin:28px 45px 0 0;
				position: relative;
				top: 0;
				
				.close{
					position: absolute;
					top: 0;
					right: 0;
					color: #e6330a;
					&:after{
						content: '\00d7';
					}
				}
				.remove {
					color: #e10a00;
					font-family: "plumb-bold";
					font-size: 18px;
					font-weight: bold;
					line-height: 50px;
					text-transform: uppercase;
					position:absolute;
					top:-18px;
					right:0;
				}
				&.tree{
					margin:28px 0 0 0;	
				}
				.product_brand{
					font-family:"pfdintextpro-medium";
					text-transform:uppercase;	
					font-size:15px;	
					word-break: break-word;
				}
				.product_description{
					border-top: 1px solid #000000;
					font-family: "pfdintextpro-regular";
					overflow:hidden;
					font-size:14px;	
					padding:7px 0 0 0;
					height:28px;
				}
				.product_assessment_block{
					margin:12px 0;					
					cursor:pointer;
					width:45px;
					height:7px;
					position:absolute;
					z-index:3;	
					bottom:18px;
					background: image-url("asterix_mini.png") left center repeat-x;

					.product_assessment{
						height:7px;
						background: image-url("asterix_mini_active.png") left center repeat-x;
						cursor:pointer;	
					}
				}
				.product_image{
					margin:0 0 3px 0;
					position:relative;
					
					img{
						max-width: 100%;
						position:absolute;
						left:0;
						top:0;
						background:#ffffff;
						display:block;
						
						&.product_image_original{
							z-index:1;	
							@include opacity(1);
						}
						&.product_image_hover{
							z-index:2;	
							@include opacity(0); 
						}
					}
					&:hover{
						img{
							&.product_image_original{
								@include opacity(0);
							}
							&.product_image_hover{	
								@include opacity(1); 
							}	
						}	
					}
				}
				.product_prices_block{
					position:relative;
					height:22px;
					background: image-url("price_border.png") center bottom repeat-x;	
					
					.product_price_block{
						.product_price{
							@include inline-block;
							vertical-align:baseline;	
							font-family:"plumb-bold";
							font-size:25px;
							line-height:25px;
							margin:1px 0 0 0;
							letter-spacing:-1px;
							white-space:nowrap;
							
							.product_price_value{
								background:#ffffff;
								padding:0 6px 0 0;
							}
							.rub:before{
								font-family: "pt_sans-bold";
								vertical-align: baseline;
								font-size:20px;
								line-height:25px;
								position:relative;
								top:-4px;
							}	
						}
						.product_cart{
							display:block;
							position:absolute;
							right:0;
							bottom:0;
							width:32px;
							height:52px;
							cursor:pointer;
							padding:0 0 0 2px;
							z-index:2;
							background: image-url("cart.png") right center no-repeat;	
							
							&:hover{
								background: image-url("cart_hover.png") right center no-repeat;		
							}	
						}
					}
				}
			}
		}
	}
}


@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
	.fave_page{
		.fave{
			.fave_products{
				.product{
					.product_assessment_block{
						background: image-url("asterix_mini@2x.png") left center repeat-x;
						@include background-size(9px 7px);
	
						.product_assessment{
							background: image-url("asterix_mini_active@2x.png") left center repeat-x;
							@include background-size(9px 7px);
						}
					}
					.product_prices_block{
						background: image-url("price_border@2x.png") center bottom repeat-x;	
						@include background-size(4px 1px);
						
						.product_price_block{
							.product_cart{
								background: image-url("cart@2x.png") right center no-repeat;
								@include background-size(32px 52px);	
								
								&:hover{
									background: image-url("cart_hover@2x.png") right center no-repeat;	
									@include background-size(32px 52px);		
								}	
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px){
	.mobile_enabled{
	
		.fave_page{
			.fave{
				width: 100%;
				box-sizing: border-box;
				padding: 20px;
			}
		}
	}
}