@import "compass/css3";

.my_orders_page{
	.search_block{
		top:13px;	
	}
	.my_orders{
		position:relative;
		width:990px;
		margin:0 auto 49px auto;	
		
		.cancel-order{
			font-family: "pfdintextpro-regular" !important;
			font-size: 13px;
			a{
				color: #e6330a !important;
			}
		}
		.breadcrumbs{
			margin:-8px 0 0 0;	
		}
		h1{
			text-transform:uppercase;
			font-family:"pfdintextpro-medium";
			font-size:39px;	
			margin:12px 0 0 0;
			@include inline-block;
			vertical-align:top;	
		}
		.order_list{
			margin:40px 0 0 0;
			
			.order{
				margin:0 0 75px 0;
				
				.order_header{
					border-bottom:1px solid #000000;
					padding:0 0 10px 0;
					margin:0 0 28px 0;
					
					.order_number{
						@include inline-block;
						vertical-align:top;
						color:#000000;
						font-size:16px;
						font-family:"plumb-bold";
						text-transform:uppercase;	
						letter-spacing:-0.5px;	
						border-right:1px solid #000000;
						padding:0 21px 0 0;
						margin:0 13px 0 0;
					}	
					.order_detail{
						@include inline-block;
						vertical-align:top;
						color:#e6330a;
						font-size:16px;
						font-family:"plumb-bold";
						text-transform:uppercase;	
						letter-spacing:-0.5px;	
						
						a{
							color:#e6330a;
							font-size:16px;
							font-family:"plumb-bold";
							text-transform:uppercase;	
							letter-spacing:-0.5px;	
							position:relative;
										
							&:after{
								background: image-url("short_link_bottom.png") center bottom no-repeat;
								height:2px;
								width:0;
								content:"";
								display:block;
								position:absolute;
								bottom:0;
								left:0;
							}	
							&:hover{
								&:after{
									width:100%;	
								}	
							}	
						}
					}
				}	
				.description_block{
					.description{
						@include inline-block;
						vertical-align:top;	
						width:395px;
						
						.order_information{
							table{
								tr{
									td{
										font-family:"pfdintextpro-regular";
										color:#000000;
										font-size:16px;	
										padding:0 0 8px 0;
										
										span{
											color:#7e7e7e;	
											padding:0 29px 0 0;
										}
									}	
								}	
							}	
						}
						.order_composition{
							margin:16px 0 0 0;
							
							.h4{
								color:#000000;
								font-size:16px;
								font-family:"pfdintextpro-bold";
								margin:0 0 16px 0;	
							}	
							ul{
								li{
									margin:12px 0 0 0;
									color:#000000;
									font-size:12px;
									font-family:"pfdintextpro-medium";	
									text-transform:uppercase;
									
									a{
										color:#e6330a;	
										position:relative;
										
										&:after{
											background: image-url("short_link_bottom.png") center bottom no-repeat;
											height:2px;
											width:0;
											content:"";
											display:block;
											position:absolute;
											bottom:0;
											left:0;
										}	
										&:hover{
											&:after{
												width:100%;	
											}	
										}
									}
								}	
							}
						}
					}	
					.status_block{
						@include inline-block;
						vertical-align:top;	
						
						.status{
							border:1px solid #3cb878;	
							padding:24px 42px 21px 42px;
							margin:-2px 0 0 0;
							width:271px;
							@include border-radius(2px);
							
							.date{
								font-family:"pfdintextpro-regular";
								color:#898989;
								font-size:12px;	
								letter-spacing:-0.5px;
								margin:0 0 10px 0;
							}
							.name{
								color:#000000;
								font-family:"pfdintextpro-regular";
								font-size:16px;	
							}
						}
						.buttons{
							margin:19px 0 0 0;
							
							a{
								color:#ffffff;
								font-size:15px;
								text-transform:uppercase;	
								font-family:"pfdintextpro-medium";
								@include inline-block;
								vertical-align:top;	
								@include border-radius(2px);
								@include background-image(linear-gradient(#c6c7c7, #979797));
								margin: 0 19px 0 0;
								padding: 16px 11px 14px 22px;
								width: 135px;
								
								&:hover{
									background:#7aab4b;		
								}
							}	
						}
					}
				}
			}	
		}
		.h2{
			color:#000000;
			font-size:20px;	
			font-family:"pfdintextpro-medium";
			text-transform:uppercase;
			border-bottom:1px solid #000000;
			padding:0 0 5px 0;
			margin:-3px 0 0 0;
		}
		.viewed_products{
			margin:0 0 74px 0;
			
			.product{
				@include inline-block;
				vertical-align:top;	
				position:relative;
				width:135px;
				margin:28px 45px 0 0;
				
				&.tree{
					margin:28px 0 0 0;	
				}
				.product_brand{
					font-family:"pfdintextpro-medium";
					text-transform:uppercase;	
					font-size:15px;	
					height:20px;
				}
				.product_description{
					border-top: 1px solid #000000;
					font-family: "pfdintextpro-regular";
					overflow:hidden;
					font-size:14px;	
					padding:7px 0 0 0;
					height:28px;
				}
				.product_assessment_block{
					margin:12px 0;					
					cursor:pointer;
					width:45px;
					height:7px;
					position:absolute;
					z-index:3;	
					bottom:18px;
					background: image-url("asterix_mini.png") left center repeat-x;

					.product_assessment{
						height:7px;
						background: image-url("asterix_mini_active.png") left center repeat-x;
						cursor:pointer;	
					}
				}
				.product_image{
					width:135px;
					height:105px;
					margin:0 0 3px 0;
					position:relative;
					
					img{
						position:absolute;
						left:0;
						top:0;
						background:#ffffff;
						display:block;
						width:100%;	
						height: auto;

						&.product_image_original{
							z-index:1;	
							@include opacity(1);
						}
						&.product_image_hover{
							z-index:2;	
							@include opacity(0); 
						}
					}
					&:hover{
						img{
							&.product_image_original{
								@include opacity(0);
							}
							&.product_image_hover{	
								@include opacity(1); 
							}	
						}	
					}
				}
				.product_prices_block{
					position:relative;
					height:22px;
					background: image-url("price_border.png") center bottom repeat-x;	
					
					.product_price_block{
						.product_price{
							@include inline-block;
							vertical-align:baseline;	
							font-family:"plumb-bold";
							font-size:25px;
							line-height:25px;
							margin:1px 0 0 0;
							letter-spacing:-1px;
							white-space:nowrap;
							
							.product_price_value{
								background:#ffffff;
								padding:0 6px 0 0;
							}
							.rub:before{
								font-family: "pt_sans-bold";
								vertical-align: baseline;
								font-size:20px;
								line-height:25px;
								position:relative;
								top:-4px;
							}	
						}
						.product_cart{
							display:block;
							position:absolute;
							right:0;
							bottom:0;
							width:32px;
							height:52px;
							cursor:pointer;
							padding:0 0 0 2px;
							z-index:2;
							background: image-url("cart.png") right center no-repeat;	
							
							&:hover{
								background: image-url("cart_hover.png") right center no-repeat;		
							}	
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px){
	.mobile_enabled{

		.my_orders_page{
			width: 100%;
			padding: 20px;
			box-sizing: border-box;
			.my_orders{
				width: 100%;
				.viewed_products .product{
					margin-right: 20px;
				}
				.order_list .order{
					.order_header .order_detail{
						margin-top: 10px;
					}
					.description_block .status_block{
						.buttons a{
							margin-bottom: 20px;
						}
						.status{
							width: 100%;
							box-sizing: border-box;
							padding: 20px;
						}
					}
				}
			}
		}
	}
}

@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
	.my_orders_page{
		.my_orders{
			.order_list{
				.order{
					.order_header{
						.order_detail{
							a{	
								&:after{
									background: image-url("short_link_bottom@2x.png") center bottom no-repeat;
									@include background-size(320px 1px);
								}	
							}
						}
					}	
					.description_block{
						.description{
							.order_composition{
								ul{
									li{
										a{
											&:after{
												background: image-url("short_link_bottom@2x.png") center bottom no-repeat;
												@include background-size(320px 1px);
											}	
										}
									}	
								}
							}
						}	
					}
				}	
			}
			.viewed_products{
				.product{
					.product_assessment_block{
						background: image-url("asterix_mini@2x.png") left center repeat-x;
						@include background-size(9px 7px);
	
						.product_assessment{
							background: image-url("asterix_mini_active@2x.png") left center repeat-x;
							@include background-size(9px 7px);
						}
					}
					.product_prices_block{
						background: image-url("price_border@2x.png") center bottom repeat-x;
						@include background-size(4px 1px);	
						
						.product_price_block{
							.product_cart{
								background: image-url("cart@2x.png") right center no-repeat;
								@include background-size(32px 52px);	
								
								&:hover{
									background: image-url("cart_hover@2x.png") right center no-repeat;	
									@include background-size(32px 52px);	
								}	
							}
						}
					}
				}
			}
		}
	}
}